@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');






body{
  background-image: url(/pexels-chaikong2511-104757.jpg);
  background-size: cover;
  display: flex;
  flex-direction: row;
  

}

.hero{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  
}
.person-icon {
  width: 24px;
  position: relative;
  height: 24px;
}
.pilots {
  width: 182px;
  position: relative;
  display: inline-block;
  flex-shrink: 0;
}
.button-menu {

  border-radius: 15px;
  border: 1px solid black;
  background-color: #d9d9d9;
  width: 232px;
  height: 51px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 4px;
  box-sizing: border-box;
  gap: 10px;
  font-family: 'Bebas Neue';

}
.button-menu:hover {
  background-color: #1e1e1e;
  color: #fff;
  font-family: 'Bebas Neue';
  border: 2px solid white;
}

.main-menu{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  height: auto;
  align-items: center;
  justify-content: space-between;
  border-radius: 15px;
  border: 1px solid black;
  padding: 10px;
  gap: 10px;
  margin: 10px;

}

.sub-menu{
  display: flex;
  flex-direction: column;
  background-color: white;
  width: fit-content;
  height: auto;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  gap: 10px;

}


.input{
display: flex;
flex-direction: row;
border-radius: 5px;
border: 1px solid black;
font-family: 'Bebas Neue';

}

.label{
  font-family: 'Bebas Neue';
}

.button{
background-color: black;
border-radius: 5px;
border: 1px solid white;
width: fit-content;
height: auto;
font-family: 'Bebas Neue';
color: white;
padding: 5px;
}

.button:hover{
  background-color: white;
  border-radius: 5px;
  border: 1px solid black;
  width: fit-content;
  height: auto;
  font-family: 'Bebas Neue';
  color: black;
  }

.welcomebar{
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 1px solid black;
  border-radius: 15px;
  width: fit-content;
  background-color: white;
  height: auto;
  padding-left: 10px;
  justify-content: space-between;
  margin: 10px;
}

.welcome_image{
  width: 120px;
height: 120px;
border-radius: 50%;
object-fit: cover; /* Ensures the image fills the circle */
overflow: hidden; /* Hides excess parts */
}


.welcome_text{
  display: flex;
  flex-direction: column;
  align-items: left;
  font-family: 'Bebas Neue';
  color: black;
  padding-left: 10px;
}

.row{
  display: flex;
  flex-direction: row;
}

